<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/auth/login.css">
    <link rel="stylesheet" href="/css/auth/shared.css">
    <script src="/js/auth/login.js" defer></script>
    <%- include('../includes/bootstrap.ejs') %>
</head>
<body>
    <div id="login-wrapper">
        <div id="login">
            <form action="/login" method="POST" onsubmit="showLoginSpinner()">
                    <% if (errorMessage) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= errorMessage %>
                        </div>
                    <% } %>
                    <p class="login-form-header">Email (must be either an officer or club advisor's)</p>
                    <input type="email" class="form-control" required name="email" id="email" placeholder="Email"/>
                    <p class="login-form-header">Password</p>
                    <input type="password" class="form-control" id="firstName" required name="password" placeholder="Password"/>
                    <div id="login-submit-wrapper">
                        <button type="submit" class="btn btn-success" id="login-btn">Log In</button>
                        <div class="spinner-border text-primary" role="status" id="login-spinner">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <p id="register-link">Don't have an account? Click <a href="/register">here</a> to log register.</p>
            </form>
        </div>
    </div>
</body>
</html>