<link rel="stylesheet" href="/css/navbar.css" />
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" id="logo"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link log-in" href="/login" target="_blank">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#members">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#events" target="_blank">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#resources" target="_blank">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#entertainment" target="_blank">Entertainment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" target="_blank">Contact</a>
        </li>
      </ul>
    </div>
    <div id="cursorMeter">
      <div id="scrollPath">
        <div id="progressBar"></div>
      </div>
    </div>
</nav>
