<link rel="stylesheet" href="/css/entertainment.css">
<script src="/js/entertainment.js" defer></script>
<div id="entertainment">
  <div id="entertainment-btns">
    <div>
      <button type="button" class="btn btn-dark entertainment-btn" id="covid-btn">COVID</button>
    </div>
    <div>
      <button type="button" class="btn btn-dark entertainment-btn" id="country-btn">Countries</button>
    </div>
    <div>
      <button type="button" class="btn btn-dark entertainment-btn" id="movie-btn">Movies</button>
    </div>
  </div>
  <div id="api-display-screen">
      <div id="covid" class="entertainment-input-wrapper">
        <p class="api-info-text">Get COVID data on any country</p>
        <div class="search-wrapper">
          <input type="text" placeholder="Country Name" class="form-control entertainment-input" required id="covid-country-input"/>
          <button type="button" class="btn btn-success api-search-btn" onclick="fetchCOVID()">Search</button>
          <div class="spinner-border text-dark" role="status" id="covid-spinner">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div id="country" class="entertainment-input-wrapper">
        <p class="api-info-text">Get data on any country</p>
        <div class="search-wrapper">
          <input type="text" placeholder="Country Name" class="form-control entertainment-input" required id="country-data-input"/>
          <button type="button" class="btn btn-success api-search-btn" onclick="fetchCountry()">Search</button>
        </div>
      </div>
      <div id="movie" class="entertainment-input-wrapper">
        <p class="api-info-text">Get information on any show or movie in existence</p>
        <div class="search-wrapper">
          <input type="text" placeholder="Movie/Show Name" class="form-control entertainment-input" required id="movie-input"/>
          <button type="button" class="btn btn-success api-search-btn" onclick="fetchMovies()">Search</button>
          <div class="spinner-border text-dark" role="status" id="movie-spinner">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <p id="value-alert" role="alert">
        Please enter a valid value!
      </p>
      <p id="not-found" role="alert">
        
      </p>
      <p id="api-error" role="alert">
        Oops! An error occurred; please try again later.
      </p>
      <div id="api-results">

      </div>
  </div>
</div>
