<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="./css/progress.css" />
    <link rel="stylesheet" href="./css/welcome.css" />

    <script src="/js/progress.js" defer></script>
</head>
<body>
    <%- include('./includes/bootstrap.ejs') %>
    <%- include('./includes/navbar.ejs') %>
    <%- include('./welcome.ejs') %>
    <%- include('./speakers.ejs') %>
    <p id="copyright">&copy; copyright 2022 Alexander Khazzam</p>
</body>
</html>