<script src="/js/speakers.js" defer></script>
<link rel="stylesheet" href="/css/speakers.css" />
<div id="experience">
  <h2 id="experience-header">Guest Speakers</h2>
  <!-- <div id="guest-speaker-alert-wrapper">
    <div class="alert alert-primary" role="alert" id="guest-speaker-alert">
      Interested in being a guest speaker for our club? Click <a href="#">here</a> to learn more!
    </div>
  </div> -->
  <div class="timeline">
    <div class="line"></div>
    <% for (let i = 0; i < speakers.length; i++) { %>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
              <div class="content-header-wrapper">
                <div>
                  <h5><%= speakers[i].name %></h5>
                  <h6><%= speakers[i].date %></h6>
                </div>
                <div class="icon-wrapper">
                  <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-user-advertising-kiranshastry-lineal-kiranshastry-7.png"/>
                </div>
              </div>
              <hr>
              <li><%= speakers[i].description%></li>
            </div>
        </div>
    <% } %>
</div>