<script src="/js/welcome.js" defer></script>
<main id="welcome">
    <!-- <div id="welcome-text-wrapper">
        <h2 id="welcome-text"></h2><p id="welcome-text-cursor">|</p>
    </div>
    <div class="bg_move">
        <h1 id="title">The Foreign Affairs Club</h1>
    </div> -->

</main>