#entertainment {
  margin-top: 250px;
}

#entertainment-header {
  margin-top: 150px;
  color: #25b79f;
  text-align: center;
  margin-bottom: 50px;
}

#entertainment-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#entertainment-btns div {
  width: 20%;
}

.entertainment-btn {
  width: 100%;
}

#value-alert,
#not-found,
#api-error {
  text-align: center;
  margin-top: 10px;
  display: none;
  color: red;
}

#api-display-screen {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(36, 36, 36) !important;
  padding-top: 30px;
  padding-bottom: 25px;
  height: fit-content;
  margin-top: 0px;
}

.api-search-btn {
  margin-right: 10px;
  background-color: #25b79f !important;
  border-radius: 0px !important;
}

.entertainment-input-wrapper {
  display: none;
  height: fit-content;
  width: 80%;
  margin: auto;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

#covid-spinner,
#movie-spinner,
#country-spinner {
  visibility: hidden;
}

.entertainment-input {
  border-radius: 0px !important;
  padding: 0px;
}

.movie-image-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.movie-image-wrapper img {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#covid {
  display: block;
}

#api-results {
  width: 100%;
  margin-top: 45px;
}

.result-wrapper {
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.result-key {
  font-weight: bold;
  margin-right: 10px;
  color: #25b79f;
}

.api-info-text {
  color: #25b79f;
}

.result-value {
  color: white;
  font-weight: normal;
}
