#school-year,
#current-years,
#speaker,
#current-speakers,
#current-trips,
#current-resources,
#trips,
#resources {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  width: 80%;
  text-align: left;
  margin: auto;
  margin-bottom: 50px;
}

#school-year-warning,
#resource-warning {
  margin-top: 20px !important;
}

#school-year-spinner,
#speaker-spinner,
#trip-spinner,
#resource-spinner {
  display: none;
  margin-left: 10px;
}

#school-year-submit-wrapper,
#speaker-submit-wrapper,
#trip-submit-wrapper,
#resource-submit-wrapper {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

#confirm-remove-record-spinner,
#invalid-password {
  display: none;
}

#new-trip-added-error,
#new-trip-added-success,
#new-year-added-success,
#new-year-added-error,
#new-speaker-added-success,
#new-speaker-added-error,
#new-resource-added-success,
#new-resource-added-error {
  margin-top: 30px !important;
}

#remove-school-year-text-wrapper,
#remove-speaker-text-wrapper,
#remove-trip-text-wrapper,
#remove-resource-text-wrapper {
  display: flex;
  align-items: center;
}

#remove-school-year-spinner,
#new-year-removed-success,
#new-year-removed-error,
#remove-resource-spinner,
#remove-speaker-spinner,
#speaker-removed-success,
#speaker-removed-error,
#trip-removed-success,
#trip-removed-error,
#new-resource-removed-success,
#new-resource-removed-error,
#remove-trip-spinner {
  display: none;
}

#new-year-removed-success,
#new-year-removed-error,
#new-trip-removed-success {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

#current-years-header,
#current-speakers-header,
#current-trips-header,
#current-resources-header {
  margin: 0px;
  margin-right: 10px;
}

.school-year-form-header,
.speaker-form-header,
.trip-form-header,
.resource-form-header {
  margin-top: 10px;
  margin-bottom: 2px;
}

.year,
.trip {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.alert {
  width: 100%;
  margin: 0px !important;
  border-radius: 0px !important;
}

.remove-year-btn,
.remove-speaker-btn,
.remove-trip-btn,
.remove-resource-btn {
  height: 50px;
  border-radius: 0px !important;
}
