#admins {
  margin: 0px !important;
  padding: 0px 50px 0px 50px;
}

#admin-table-notice {
  margin-bottom: 0px;
}

#total-pings {
  margin-bottom: 50px;
}

#admin-form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  /* width: 80%; */
  text-align: left;
  margin: auto;
  margin-top: 30px;
}

#authorize-admin-text {
  margin: 0px;
}

#authorize-btn {
  margin-bottom: 0px;
  margin-top: 10px;
}

.email-added-alert {
  margin-top: 10px;
  margin-bottom: 0px !important;
}

#credentials {
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  margin-bottom: 50px;
}

.credential {
  font-weight: bold;
}

.credential span {
  font-weight: normal;
}
